fastapi==0.110.0
uvicorn[standard]==0.29.0
pydantic==1.10.14
joblib==1.4.0
numpy==1.26.4
scikit-learn==1.4.2
soundfile==0.12.1
librosa==0.10.1
speechrecognition==3.10.1
tensorflow==2.14.1
python-multipart==0.0.9  
# required for FastAPI file uploads
